 dotfiles/laptop/regolith/flags/ui-fingerprint
 dotfiles/desktop/regolith/flags/ui-fingerprint
 dotfiles/desktop/regolith/flags/first-time-setup-r1-4-1
 dotfiles/laptop/regolith/flags/first-time-setup-r1-4-1