[user]
        name = Eva Emmerich
        email = eva@evaemmerich.com
[color]
       ui = true
[core]
	editor = vim
	pager = less
[pull]
        rebase = true
[push]
	default = simple
[review "review.lineageos.org"]
	username = solidhal

[ssh]
	identity = /home/eva/.ssh/id_ed25519

[rebase]
	instructionFormat = (%an <%ae>) %s
[init]
	defaultBranch = master
