[user]
        name = SolidHal
        email = hal@halemmerich.com
[color]
       ui = true
[core]
	editor = vim
	pager = less
[pull]
        rebase = true
[push]
	default = simple
[review "review.lineageos.org"]
	username = solidhal
